<h2>Dodawanie nowego klienta</h2>
<form action="/client" method="post">

    <label for="name">Imię</label><input type="text" id="name" name="name" >

    <label for="mail">E-mail</label><input type="email" id="mail" name="mail" >

    <label for="nextContactAt">Data następnego kontaktu</label><input type="date" id="nextContactAt" name="nextContactAt" >

    <label for="notes">Notatki</label><textarea name="notes" id="notes" cols="30" rows="10"></textarea>

    <button type="submit">Zapisz</button>
</form>