table {
    text-align: left;
    width: 80%;
    margin: 0 auto;

}

tr {
    margin: 2px;
    background-color: #e1e1e1;
}

tr:nth-child(2n) {
    background-color: #d5d5d1;
}

thead tr, .header-on-left th{
    background-color: #969494;
}

td, th {
    padding: 6px;
}

.error {
    background-color: #f6c5c5;
    border: 2px solid red;
    padding: 20px;
    margin: 10px auto;
    width: 80%;
}